certifi==2022.6.15
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1657483874185/work
opencv-python==4.6.0
pafy==0.5.5
pycairo==1.21.0
PyGObject==3.42.2
youtube-dl @ file:///home/conda/feedstock_root/build_artifacts/youtube-dl_1606882664484/work
